@model HoleInOneControl.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h2>Crear Usuario</h2>
    <div>
        <a asp-action="List">Regresar</a>
    </div>
</div>

<div class="card-body">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="row">
                <div class="col-md-6"> 
                     <div class="form-group">
                        <label asp-for="UserName" class="control-label">Usuario</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Apellido</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                      <div class="form-group">
                <label asp-for="Password" class="control-label">Contraseña</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                </div>
            </div>      
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




@if (!string.IsNullOrEmpty(ViewData["Message"] as string))
{
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success alert-dismissible" id="message">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-check"></i> Alert!</h5>
                @ViewData["Message"]
            </div>
        </div>
    </div>
}


<!-- Asegúrate de tener una referencia a jQuery en la página -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Espera a que la página se cargue por completo antes de ejecutar el código de JavaScript
        setTimeout(function () {
            $("#message").fadeOut("slow");
        }, 5000);
    });
</script>